<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Document Analysis">

  <webapp>

    <includes>
      <script src="app/analytics/DocumentSearch.js" type="text/javascript"></script>
      <script src="app/analytics/DocumentAnalysis.js" type="text/javascript"></script>
      <script src="app/analytics/DocumentComparison.js" type="text/javascript"></script>
      <script src="app/analytics/StatNavbar.js" type="text/javascript"></script>
      <script src="app/admin/ComparisonAdmin.js" type="text/javascript"></script>

      <link href="style/doc-analysis.css" type="text/css" rel="stylesheet" />

    </includes>


    <dashboards>
      <dashboard name="Document Analysis" class="bluewave.analytics.DocumentAnalysis">
        <info>
          <description>
            <![CDATA[
            Dashboard used to automatically analyze 510(k) submissions and detect similarities.
            Within some of the similarities there is evidence of plagerism and fraud.

            This dashboard has been developed for OPEQ investigators and is under active development.
            ]]>
          </description>
        </info>
        <thumbnail src="images/numbers.jpg"></thumbnail>
      </dashboard>
    </dashboards>


    <extensions>
      <admin type="panel">
        <config
          title="Comparison"
          class="bluewave.admin.ComparisonAdmin"
          icon="fas fa-not-equal"
        />
      </admin>
    </extensions>

  </webapp>




  <webservices>
    <service endpoint="Document" class="bluewave.web.services.DocumentService"/>
  </webservices>

  <main>

    <test arg="DocumentAnalysis" class="bluewave.document.analysis.Utils" method="test"/>
    <test arg="FileIndex" class="bluewave.utils.FileIndex" method="test"/>

    <compare arg="Compare" class="bluewave.test.BulkCompare" method="compare"/>
    <compare arg="Benchmark" class="bluewave.test.BulkCompare" method="benchmark"/>
    <compare arg="Report" class="bluewave.test.BulkCompare" method="exportReport"/>

    <delete arg="DocumentComparison" class="bluewave.document.analysis.Utils" method="deleteDocumentComparison"/>
    <delete arg="DocumentIndex" class="bluewave.document.analysis.Utils" method="deleteDocumentIndex"/>

  </main>

</plugin>