<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Document Analysis">

  <webapp>

    <includes>

      <script src="app/analytics/DocumentSearch.js" type="text/javascript"></script>
      <script src="app/analytics/DocumentAnalysis.js" type="text/javascript"></script>
      <script src="app/analytics/DocumentComparison.js" type="text/javascript"></script>
      <script src="app/admin/ComparisonAdmin.js" type="text/javascript"></script>

    </includes>


    <dashboards>

      <dashboard name="Document Analysis" class="bluewave.analytics.DocumentAnalysis"/>

    </dashboards>

  </webapp>




  <webservices>
    <service endpoint="Document" class="bluewave.web.services.DocumentService"/>
  </webservices>

  <main>
    <test arg="Document" class="bluewave.utils.FileIndex" method="test"/>
  </main>

</plugin>