

/**************************************************************************/
/** Document Comparison Panel
/**************************************************************************/

.doc-compare-title {
    font-size: 40px;
}

.doc-compare-title .fas,
.doc-compare-title .far {
    margin: 0 10px;
}

.doc-compare-title .fa-exclamation-triangle {
    color: red;
}

.doc-compare-title .fa-check-circle {
    color:green;
}

.doc-compare-key {
    padding: 0 5px;
    font-weight: bold;
}

.doc-compare-background {
    position: absolute;
    opacity: 0.5;
    font-size: 300px;
    right: 92px;
    color: #eaeaea;
}

.doc-compare-panel {
    height: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    overflow-y:auto;
}

.doc-compare-panel img{
    position:absolute;
    left: 0;
    top: 0;
    border-radius:8px;
    width:100%

}

.doc-compare-panel .fas {
    color: #eaeaea;
    font-size: 200px;
    margin-top:50px;
}

.doc-compare-panel-title {
    font-size: 20px;
    padding: 5px 0 0 10px;
}

.doc-compare-panel-subtitle {
    padding: 0 10px;
    color: #777;
}

.doc-compare-panel-footer {
    color: #777;
    font-size: 11px;
    padding: 0 0 0 12px;
}


.doc-compare-panel-navbar {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.doc-compare-panel-navbar ul {
    cursor: default;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.doc-compare-panel-navbar li {
    position: relative;
    display: block;
    float: left;
    margin: 14px 16px 4px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-color: #ff9800;
    border-radius: 50%;
    transition: 0.2s;
}


.doc-compare-panel-navbar li.active,
.doc-compare-panel-navbar li:hover {
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.46);
}

.doc-compare-panel-similarity-tag {
    color: white;
    width: 30px;
    height: 20px;
    text-align: left;
    opacity: 80%;
    background-color: black;
    font-size: 15px;
    cursor: pointer;
    position: absolute;

}

.doc-compare-panel-similarity-d {
    position: absolute;
    border: 1px solid red;
}

.doc-compare-panel-similarity-tag:hover .tooltip {
    visibility: visible;
}

.doc-compare-panel-similarity-tag .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    pointer-events: none; /* click through this element */
    position: absolute;
    top: -5px;
    left: 105%;
    z-index: 6;
}

.doc-compare-panel-ratings {
    position: relative;
    /* position: absolute; */
    display: inline-block;
    text-align: center;
    left: 20%;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.doc-compare-panel-ratings-container {
    cursor: default;
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
}

.doc-compare-panel-ratings-icon {
    position: relative;
    display: block;
    float: left;
    margin: 14px 16px 4px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: #ff9800;
    border-radius: 50%;
    transition: 0.2s;
}


.doc-compare-panel-ratings-icon .fas.fa-thumbs-up {
    position: relative;
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 40px;
    color: #f9dcdc;
    background-color: #008809;
    padding: 5px 2px 0px 2px;
    text-align: center;
    border-radius: 10%;
    transition: 0.2s;
}

.doc-compare-panel-ratings  .fas.fa-thumbs-up {
    position: relative;
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 40px;
    color: #f9dcdc;
    background-color: #008809;
    padding: 5px 2px 0px 2px;
    text-align: center;
    border-radius: 10%;
    transition: 0.2s;
}
.doc-compare-panel-ratings  .fas.fa-thumbs-down {
    position: relative;
    display: block;
    float: right;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 40px;
    color: #f9dcdc;
    background-color: #ff0000;
    padding: 5px 2px 0px 2px;
    text-align: center;
    border-radius: 10%;
    transition: 0.2s;
}
.doc-compare-panel-ratings-icon .fas.fa-thumbs-down {
    position: relative;
    display: block;
    float: right;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 40px;
    color: #f9dcdc;
    background-color: #ff0000;
    padding: 5px 2px 0px 2px;
    text-align: center;
    border-radius: 10%;
    transition: 0.2s;
}


.doc-compare-panel-ratings-icon:hover {
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.46);
}



/**************************************************************************/
/** Document Analysis
/**************************************************************************/

.document-analysis-selected-row {
    position: absolute;
    height: 100%;
    width: 34px;
    display:inline-block;
    float: left;
    transition: left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.document-analysis-selected-row .fas.fa-check-square {
    color: #009d00;
    font-size: 30px;
    line-height: 34px;
    float:left;
    width: 34px;
}

.document-analysis-comparison-results a {
    text-decoration: underline;
    color: #0000ff;
    cursor: pointer;
}

.document-analysis-comparison-results a:hover {
    color: #ff0000;
}

.document-analysis-comparison-results .far,
.document-analysis-comparison-results .fas {
    padding: 0 5px 0 0;
}

.document-analysis-comparison-results .fa-exclamation-triangle {
    color: #ff8013;
}

.document-analysis-comparison-results .fa-check-circle {
    color: #009d00;
}


.document-analysis-button-bar {
    position: relative;
    height: 35px;
    padding: 7px -0px 0 0;
    border-top: 1px solid #ccc;
    margin-right: 10px;
}


/**************************************************************************/
/** Document Search
/**************************************************************************/

.document-search-search-bar {
    padding: 0 5px;
    border-bottom: 1px solid #ccc;
}

.document-search-result {
    height: 8px;
    line-height: 19px;
}

.document-search-fragment {
    color: #c5b2a3;
    font-size: 11px;
    padding-left: 0px;
}

.document-search-fragment b {
    color: #ee9549;
}

.document-search-info {
    color: #777;
}

.document-search-search-bar-results {
    width: 105px;
    height: 5px;
    color: #b9b9b9;
    padding: 2px 0px 0px 0px;
    cursor: pointer;
    font-size: 14px;
    top: 9px;
    position: absolute;
    right: 30px;
    z-index: 5;
    text-align: center;
}